* {
    margin: 0;  /* 通配符选择器，将默认外边距设为0 */
    padding: 0;  /* 通配符选择器，将默认内边距设为0 */
}

body {
    height: 100vh;  /* 整个页面高度占满视口高度 */
    background: #e7e7e7 url("../img/1.jpg") center no-repeat fixed;  /* 背景颜色为淡灰色并设置背景图片，并居中不重复固定 */
    background-size: cover;  /* 背景图片大小自适应 */
    backdrop-filter: blur(5px);  /* 背景模糊效果 */
    display: flex;  /* 使用弹性布局 */
    justify-content: center;  /* 水平居中 */
    align-items: center;  /* 垂直居中 */
}

.container {
    background-color: #e7e7e7;  /* 容器背景颜色 */
    border-radius: 0.7rem;  /* 边框圆角 */
    height: 420px;  /* 定高 */
    max-width: 750px;  /* 最大宽度 */
    overflow: hidden;  /* 溢出内容隐藏 */
    position: relative;  /* 相对定位 */
    width: 100%;  /* 宽度占满父元素 */
}

.container-form {
    height: 100%;  /* 定高 */
    position: absolute;  /* 绝对定位 */
    top: 0;  /* 顶部对齐 */
    transition: all 0.6s ease-in-out;  /* 全部属性过渡效果 */
}

.container-signup {
    left: 0;  /* 左侧对齐 */
    opacity: 0;  /* 不透明度为0（隐藏） */
    width: 50%;  /* 宽度50% */
    z-index: 1;  /* 堆叠顺序 */
}

.container-signin {
    Left: 0;  /* 左侧对齐 */
    width: 50%;  /* 宽度50% */
    z-index: 2;  /* 堆叠顺序 */
}

.form {
    display: flex;  /* 使用弹性布局 */
    align-items: center;  /* 垂直居中 */
    justify-content: center;  /* 水平居中 */
    flex-direction: column;  /* 主轴纵向排列 */
    padding: 0 3rem;  /* 内边距 */
    height: 100%;  /* 定高 */
    text-align: center;  /* 文本居中 */
    background-color: #e7e7e7;  /* 背景颜色 */
}

.form-title {
    font-weight: 300;  /* 字体粗细 */
    margin: 0;  /* 外边距为0 */
    margin-bottom: 1.25rem;  /* 底边距 */
}

.link {
    color: #333;  /* 文本颜色 */
    font-size: 0.9rem;  /* 字体大小 */
    margin: 1.5rem 0;  /* 上下边距 */
    text-decoration: none;  /* 文本无下划线 */
}

.input {
    width: 100%;  /* 宽度100% */
    background-color: #fff;  /* 背景颜色 */
    padding: 0.9rem 0.9rem;  /* 内边距 */
    margin: 0.5rem 0;  /* 外边距 */
    border: none;  /* 无边框 */
    outline: none;  /* 无外轮廓 */
}

.btn {
    background-color: #f25d8e;  /* 按钮背景颜色 */
    box-shadow: 0 4px 4px rgba(255, 112, 159, .3);  /* 阴影效果 */
    border-radius: 5px;  /* 边框圆角 */
    color: #e7e7e7;  /* 字体颜色 */
    border: none;  /* 无边框 */
    cursor: pointer;  /* 鼠标指针形状 */
    font-size: 0.8rem;  /* 字体大小 */
    font-weight: bold;  /* 字体粗细 */
    Letter-spacing: 0.1rem;  /* 字母间距 */
    padding: 0.9rem 4rem;  /* 内边距 */
    text-transform: uppercase;  /* 字母大写 */
    transition: transform 80ms ease-in;  /* 过渡效果 */
}

.form > .btn {
    margin-top: 1.5rem;  /* 顶部外边距 */
}

.btn:active {
    transform: scale(0.95);  /* 按下缩放效果 */
}

.container-overlay {
    height: 100%;  /* 定高 */
    Left: 50%;  /* 左侧50% */
    overflow: hidden;  /* 溢出隐藏 */
    position: absolute;  /* 绝对定位 */
    top: 0;  /* 顶部对齐 */
    transition: transform 0.6s ease-in-out;  /* 过渡效果 */
    width: 50%;  /* 宽度50% */
    z-index: 100;  /* 堆叠顺序 */
}

.overlay {
    width: 200%;  /* 宽度为原先的两倍 */
    height: 100%;  /* 定高 */
    position: relative;  /* 相对定位 */
    left: -100%;  /* 左侧偏移100% */
    background: url("../img/1.jpg") no-repeat center fixed;  /* 背景图片设置 */
    background-size: cover;  /* 背景图片大小自适应 */
    transition: transform 0.6s ease-in-out;  /* 过渡效果 */
    transform: translatex(0);  /* x轴方向移动0 */
}

.overlay-panel {
    height: 100%;  /* 定高 */
    width: 50%;  /* 宽度50% */
    position: absolute;  /* 绝对定位 */
    top: 0;  /* 顶部对齐 */
    display: flex;  /* 弹性布局 */
    justify-content: center;  /* 水平居中 */
    align-items: center;  /* 垂直居中 */
    flex-direction: column;  /* 主轴纵向排列 */
    transform: translatex(0);  /* x轴方向移动0 */
    transition: transform 0.6s ease-in-out;  /* 过渡效果 */
}

.overlay-left {
    transform: translateX(-20%);  /* 左侧移动20% */
}

.overlay-right {
    right: 0;  /* 右侧对齐 */
    transform: translateX(0);  /* x轴方向移动0 */
}

.panel-active .overlay-left {
    transform: translateX(0);  /* 左侧移动0 */
}

.panel-active .container-overlay {
    transform: translateX(-100%);  /* x轴方向移动-100% */
}

.panel-active .overlay {
    transform: translateX(50%);  /* x轴方向移动50% */
}

.panel-active .container-signin {
    transform: translateX(100%);  /* x轴方向移动100% */
}

.panel-active .container-signup {
    opacity: 1;  /* 不透明度为1（显示） */
    z-index: 5;  /* 堆叠顺序 */
    transform: translateX(100%);  /* x轴方向移动100% */
}